<html>
<head>
    <title>
        Please fill the following data
    </title>
</head>
<body>


<h1>{{result}} </h1>

<form action="/performDatabaseTask", method="POST">
<!--    <label for="tableName">Tabel Name</label><br>-->
<!--    <input id="tableName" name="tableName" required type="text"><br>-->

<!--    <label for="ColumnName">Column Name</label><br>-->
<!--    <input type="text" id="ColumnName" name="ColumnName"><br>-->

<!--    <label for="Task">Select Task</label><br>-->
<!--    <select id="Task" name="Task">-->
<!--          <option value="createTable">Create a table</option>-->
<!--          <option value="insertOneData">Insert one data into table</option>-->
<!--          <option value="updateTable">Update into table</option>-->
<!--          <option value="bulkInsert">Bulk insertion into table</option>-->
<!--          <option value="deleteFromTable">Delete from table</option>-->
<!--          <option value="downloadData">Download data from table</option>-->
<!--    </select>-->

    <input type="submit" value="Submit">
</form>
</body>
</html>